body {
  /*font-family: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;*/
  color: #ffffff;
  margin: 0;
  font-family: "courier", "monospace";
  background-color: #535353; }

/* NAVBAR STUFF */
#navbar {
  background-color: #0C0C0C;
  color: #ffffff;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 1000px;
  min-width: 800px;
  font-size: 0px;
  height: 102px; }

nav {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  margin: auto;
  font-size: 20px;
  max-width: 1000px;
  min-width: 800px; }

.navbutton {
  font-family: inherit;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  color: inherit;
  border: none;
  cursor: pointer; }

.navbutton:hover {
  background-color: #111111; }

nav span {
  display: inline-block; }

#leftlinks {
  padding-left: 40px; }

#rightlinks {
  float: right;
  padding-right: 40px;
  padding-top: 5px; }

/* Dropdowns */
/* Style The Dropdown Button */
.dropbtn {
  font-family: inherit;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: inherit;
  background-color: black;
  border: none;
  cursor: pointer; }

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block; }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #111111;
  min-width: 160px;
  z-index: 1; }

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #555555; }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block; }

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #111111; }

/* Cast page stylings */
/* Create three equal columns that floats next to each other */
.column {
  width: 100%;
  float: left;
  height: 166px; }

.column img {
  float: left;
  margin-top: 5px;
  margin-right: 5px; }

.column p {
  margin-right: 5px; }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both; }

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (min-width: 800px) {
  .column {
    float: left;
    width: 33.33%;
    height: 166px; } }
/* PINK-BASED COLOUR-SWITCHING */
/* body */
body.pink {
  background: #644865;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#644865, #281e29);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#644865, #281e29);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#644865, #281e29);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#644865, #281e29);
  /* Standard syntax */ }

body.pink_1 {
  background: #503d51;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#503d51, #282129);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#503d51, #282129);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#503d51, #282129);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#503d51, #282129);
  /* Standard syntax */ }

body.pink_2 {
  background: #3c333c;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#3c333c, #282528);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#3c333c, #282528);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#3c333c, #282528);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#3c333c, #282528);
  /* Standard syntax */ }

/* Secret Stuff! */
.secret_00 {
  background-image: url("/chiasmata/images/etc/clue_00.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 650px) 450px;
  background-size: 210px 210px; }

.secret_01 {
  background-image: url("/chiasmata/images/etc/clue_01.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 600px) 950px;
  background-size: 210px 210px; }

.secret_02 {
  position: absolute;
  top: 700px;
  left: -150px; }

.secret_03 {
  position: absolute;
  top: 150px;
  left: -300px; }

.secret_04 {
  /* page 150 */
  position: absolute;
  top: 400px;
  left: -170px; }

.secret_05 {
  /* page 183 */
  position: absolute;
  top: 550px;
  left: -160px; }

/* content */
body.pink .content {
  background-color: #351e36; }

body.pink_1 .content {
  background-color: #2c1d2d; }

body.pink_2 .content {
  background-color: #2c1d2d; }

/* other */
body.pink #page {
  background-color: #070004;
  color: #FFF8FC; }

body.pink_1 #page {
  background-color: #030002;
  color: #fffefe; }

body.pink nav {
  background-color: #070004; }

body.pink_1 nav {
  background-color: #030002; }

body.pink #navbar {
  background-color: #0B090C; }

body.pink_1 #navbar {
  background-color: #0C0B0C; }

/* */
/* Spooky-style, dim and/or dark */
body.dark {
  background-color: #282828; }

body.dark .content {
  background-color: #1b1b1b; }

/* Someone else is spooky */
body.orange {
  background-color: #5c514d; }

body.orange .content {
  background-color: #38322f; }

/* Other general Chiasmata page bits */
.content {
  background-color: #333333;
  font-family: 'Arial', sans-serif;
  display: block;
  margin: auto;
  margin-top: 0;
  max-width: 920px;
  min-width: 600px;
  padding: 0 40px;
  overflow-x: visible;
  position: relative; }

/* link colors */
a:link {
  color: #aaaaaa;
  text-decoration: none; }

a:visited {
  color: #777777;
  text-decoration: none; }

a:hover {
  color: #ffffff;
  text-decoration: none; }

a:active {
  color: #777777;
  text-decoration: none; }

a.current {
  color: green; }

#page {
  background-color: #000000;
  padding: 0 25px;
  display: block;
  margin: auto;
  margin-top: 0;
  max-width: 750px;
  min-width: 550px;
  position: relative; }

/* This is to make the things meet the bottom of the page, because margins in CSS are weird. */
.content h1:first-of-type, .content h2:first-of-type, .content h3:first-of-type {
  padding-top: 19px;
  padding-bottom: 15px;
  margin-top: 0px; }

.content p:last-of-type, .content h2:last-of-type, .content ol:last-of-type {
  padding-bottom: 15px;
  margin-bottom: 0px; }

#page .dialogue {
  margin-left: 56px; }

.dialogue p {
  margin: 5px; }

#page .Sam {
  color: #006cff; }

#page .Aidan {
  color: #00ff90; }

#page .Daniel {
  color: #ff5400; }

#page .Bonnie {
  color: #ffd800; }

#page .Jacqueline {
  color: #FF0000; }

#page .Clara {
  color: #88ff00; }

#page .Leo {
  color: #ffba00; }

#page .Ghost {
  color: #b58400; }

#page .Omar {
  color: #593eff; }

#page .David {
  color: #ff9000; }

#page .Dawn {
  color: #3041ff; }

#page .Ash {
  color: #00ff00; }

#page .Anders {
  color: #ff0096; }

#page .green_mystery {
  color: #00ff69; }

#page .orange_mystery {
  color: #FF8B00; }

#page .Robot {
  font-family: 'Courier New', Courier, monospace; }

#page .other_mystery {
  text-align: right;
  font-family: 'Courier New', Courier, monospace; }

#page .small {
  font-size: 10px; }

.blink_me {
  animation: blinker 1s step-start infinite; }

@keyframes blinker {
  50% {
    opacity: 0; } }
#page img {
  margin: 0 -25px; }

#page .system {
  color: #ffffff; }

#page .Archie {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  text-decoration: line-through; }

#page .Computer {
  font-family: 'Courier New', Courier, monospace;
  text-align: center; }

#page h1 {
  text-align: center;
  padding: 14px 0; }

.center-image {
  margin: 0 auto;
  display: block; }

/* STUFF FOR THE BLOG SECTION */
.post-nav {
  display: flex;
  padding-bottom: 15px;
  margin-bottom: 0px; }

.post-nav div {
  flex: 1 1 0; }

.post-nav-next {
  text-align: right; }

/* Animation stuff? */
/* Our mixin positions a copy of our text
directly on our existing text, while
also setting content to the appropriate
text set in the data-text attribute. */
.glitch {
  position: relative;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  /* Animation provies a slight random skew. Check bottom of doc
  for more information on how to random skew. */
  animation: glitch-skew 1s infinite linear alternate-reverse; }
  .glitch::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: 2px;
    text-shadow: -2px 0 #ff00c1;
    /* Creates an initial clip for our glitch. This works in
    a typical top,right,bottom,left fashion and creates a mask
    to only show a certain part of the glitch at a time. */
    clip: rect(44px, 450px, 56px, 0);
    /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
    with an alternating animation to keep things fresh. */
    animation: glitch-anim 5s infinite linear alternate-reverse; }
  .glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: -2px;
    text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
    animation: glitch-anim2 1s infinite linear alternate-reverse; }

/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
  0% {
    clip: rect(100px, 9999px, 76px, 0);
    transform: skew(0.67deg); }
  5% {
    clip: rect(62px, 9999px, 86px, 0);
    transform: skew(0.75deg); }
  10% {
    clip: rect(66px, 9999px, 99px, 0);
    transform: skew(0.23deg); }
  15% {
    clip: rect(64px, 9999px, 90px, 0);
    transform: skew(0.66deg); }
  20% {
    clip: rect(33px, 9999px, 13px, 0);
    transform: skew(0.17deg); }
  25% {
    clip: rect(42px, 9999px, 28px, 0);
    transform: skew(0.31deg); }
  30% {
    clip: rect(68px, 9999px, 46px, 0);
    transform: skew(0.59deg); }
  35% {
    clip: rect(76px, 9999px, 81px, 0);
    transform: skew(0.66deg); }
  40% {
    clip: rect(62px, 9999px, 13px, 0);
    transform: skew(0.48deg); }
  45% {
    clip: rect(32px, 9999px, 85px, 0);
    transform: skew(0.98deg); }
  50% {
    clip: rect(47px, 9999px, 58px, 0);
    transform: skew(0.15deg); }
  55% {
    clip: rect(71px, 9999px, 6px, 0);
    transform: skew(0.98deg); }
  60% {
    clip: rect(30px, 9999px, 29px, 0);
    transform: skew(0.54deg); }
  65% {
    clip: rect(28px, 9999px, 12px, 0);
    transform: skew(0.45deg); }
  70% {
    clip: rect(79px, 9999px, 69px, 0);
    transform: skew(0.24deg); }
  75% {
    clip: rect(93px, 9999px, 21px, 0);
    transform: skew(0.73deg); }
  80% {
    clip: rect(45px, 9999px, 66px, 0);
    transform: skew(0.43deg); }
  85% {
    clip: rect(17px, 9999px, 19px, 0);
    transform: skew(0.85deg); }
  90% {
    clip: rect(21px, 9999px, 23px, 0);
    transform: skew(0.77deg); }
  95% {
    clip: rect(29px, 9999px, 55px, 0);
    transform: skew(0.46deg); }
  100% {
    clip: rect(53px, 9999px, 28px, 0);
    transform: skew(0.26deg); } }
@keyframes glitch-anim2 {
  0% {
    clip: rect(73px, 9999px, 59px, 0);
    transform: skew(0.5deg); }
  5% {
    clip: rect(65px, 9999px, 12px, 0);
    transform: skew(0.17deg); }
  10% {
    clip: rect(10px, 9999px, 70px, 0);
    transform: skew(0.58deg); }
  15% {
    clip: rect(49px, 9999px, 34px, 0);
    transform: skew(0.39deg); }
  20% {
    clip: rect(8px, 9999px, 42px, 0);
    transform: skew(0.87deg); }
  25% {
    clip: rect(25px, 9999px, 13px, 0);
    transform: skew(0.76deg); }
  30% {
    clip: rect(65px, 9999px, 46px, 0);
    transform: skew(0.58deg); }
  35% {
    clip: rect(38px, 9999px, 35px, 0);
    transform: skew(0.49deg); }
  40% {
    clip: rect(52px, 9999px, 12px, 0);
    transform: skew(0.97deg); }
  45% {
    clip: rect(61px, 9999px, 14px, 0);
    transform: skew(0.21deg); }
  50% {
    clip: rect(45px, 9999px, 13px, 0);
    transform: skew(0.89deg); }
  55% {
    clip: rect(74px, 9999px, 43px, 0);
    transform: skew(0.45deg); }
  60% {
    clip: rect(29px, 9999px, 58px, 0);
    transform: skew(0.04deg); }
  65% {
    clip: rect(27px, 9999px, 37px, 0);
    transform: skew(0.35deg); }
  70% {
    clip: rect(45px, 9999px, 34px, 0);
    transform: skew(0.43deg); }
  75% {
    clip: rect(69px, 9999px, 20px, 0);
    transform: skew(0.76deg); }
  80% {
    clip: rect(54px, 9999px, 22px, 0);
    transform: skew(0.51deg); }
  85% {
    clip: rect(21px, 9999px, 48px, 0);
    transform: skew(0.28deg); }
  90% {
    clip: rect(22px, 9999px, 9px, 0);
    transform: skew(0.83deg); }
  95% {
    clip: rect(89px, 9999px, 10px, 0);
    transform: skew(0.95deg); }
  100% {
    clip: rect(1px, 9999px, 12px, 0);
    transform: skew(0.27deg); } }
@keyframes glitch-skew {
  0% {
    transform: skew(1deg); }
  10% {
    transform: skew(-3deg); }
  20% {
    transform: skew(-2deg); }
  30% {
    transform: skew(1deg); }
  40% {
    transform: skew(5deg); }
  50% {
    transform: skew(-2deg); }
  60% {
    transform: skew(3deg); }
  70% {
    transform: skew(5deg); }
  80% {
    transform: skew(0deg); }
  90% {
    transform: skew(4deg); }
  100% {
    transform: skew(5deg); } }
